{% extends "layout.html" %}

{% block title %}
Imprint
{% endblock %}

{% block main %}
<div style="padding: 10%" style="text-align: center">
    <h1>Welcome to the World Heri<b>trash</b></h1>
    <br>
    <h4>A map of the worlds dirty (and cleaned) places!</h4>
    <h4>Let us take better care of our heritage.</h4>
    <p></p>
    <br>
    <p>Created for the community of Earth and Nature loves with the intend to collectivly report and clean up dirty and
        trashy places!</p><br>
    <h5>by <b>Ben</b> Bachmeier for cs<b>50</b></h5>
    <p></p>&copy; 2022</p><br>
    <p>If you feel like contact me on <a href="https://github.com/Glibbr">Github</a>!</p>
    <br>
</div>
{% endblock %}